th, td {
    padding: 8px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

thead {
    background-color: #6a518f;
    color: black;
  }

td {
    border: 1px solid black;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #262626;
  }
  
  tbody tr:nth-child(even) {
    background-color: #404040;
  }