.footer {
    background-color: #6a518f;
    width: 100%;
    text-align: left;
    margin-top: 2em;
    padding: 1px;
}

h4 {
    margin-left: 2em;
}

a {
   color: white; 
}

a:hover{
    color: grey
}